*{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 400px;
  box-shadow: 3px 4px 5px black;
  margin: 40px
}

.card-img{
  width: 300px;
  height: 250px;
}